<mat-accordion >
  <mat-expansion-panel showToggle >
    <mat-expansion-panel-header>
      <mat-panel-title> Advanced Options </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-card appearance="filled">
  <mat-card-header>
   <mat-card-content>
     
        <div>
          <ul>
            @for (item of magicNodes; track item.name) {
            <li>
             {{ item.name }}
              <ul>
                @for (child of item.children ?? []; track child.type) {
                  <mat-checkbox [(ngModel)]="child.checked">{{ child.type }}</mat-checkbox>
                }
              </ul>
            </li>}
          </ul>
        </div>
      <br>
      <div>
        <ul>
          @for (item of mundaneNodes; track item.name) {
        <li>
            {{ item.name }}
          <ul>
            @for (child of item.children ?? []; track child.type) {
          
          <mat-checkbox [(ngModel)]="child.checked">         
            {{ child.type }}
          </mat-checkbox>
            }
          </ul>
        </li>}
        </ul>
      </div>
    </mat-card-content>
  </mat-card-header>
  <mat-card-actions align="end">
   
  </mat-card-actions>

  
</mat-card>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
  </mat-expansion-panel>
</mat-accordion>
<!--
<button color="primary" (click)="logSelections()">Log Selections</button>
-->

