<main>
  <!-- Shop Header -->
  <header class="">
    @for (shop of shops; track shop.name) {
      <h2 class="shop-name">{{ shop.name | propercase }}</h2>
    }
  </header>

  <div class="generated-container">
    <div class="main-content">

      <!-- PDF content wrapper -->
      <div id="pdf-content" class="parchment-page">
        <div class="scroll-header">
          <h1>Magic Shop</h1>
          <p>Providing quality magical wares since 1368 DR</p>
        </div>

        <!-- Shop Table -->
        <section class="shop-table">
          <table mat-table [dataSource]="dataSource" class="table">

            <!-- Qty -->
            <ng-container matColumnDef="qtdy">
              <th mat-header-cell class="th-qtdy" *matHeaderCellDef> Qty </th>
              <td mat-cell *matCellDef="let element; let i = index">
                @if (editingIndex === i) {
                  <input type="number" min="1" [(ngModel)]="element.quantity" style="width: 60px;">
                } @else {
                  {{ element.quantity }}
                }
              </td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
              <th mat-header-cell  class="th-name" *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>

            <!-- Type -->
            <ng-container matColumnDef="type">
              <th mat-header-cell class="th-type" *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element"> {{ element.type | tipfortype }} </td>
            </ng-container>

            <!-- Rarity -->
            <ng-container matColumnDef="rarity">
              <th mat-header-cell class="th-rarity" *matHeaderCellDef> Rarity </th>
              <td mat-cell *matCellDef="let element"> {{ element.rarity }} </td>
            </ng-container>

            <!-- Cost -->
            <ng-container matColumnDef="cost">
              <th mat-header-cell class="th-cost" *matHeaderCellDef> Cost </th>
              <td mat-cell *matCellDef="let element; let i = index">
                @if (editingIndex === i) {
                  <input type="text" [(ngModel)]="element.cost" style="width: 80px;">
                } @else {
                  <span>  {{ element.cost }} </span>
                 
                }
              </td>
            </ng-container>

            <!-- Weight -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell  class="th-weight" *matHeaderCellDef> Weight </th>
             
               <td mat-cell *matCellDef="let element; let i = index">
                @if (editingIndex === i) {
                  <input type="text" min="1" [(ngModel)]="element.weight" style="width: 60px;">
                } @else {
                  {{ element.weight }}
                }
              </td>
              
            </ng-container>

            <!-- Source -->
            <ng-container matColumnDef="source">
              <th mat-header-cell *matHeaderCellDef> Source </th>
              <td mat-cell *matCellDef="let element"> {{ element.source |tipforsource }} </td>
            </ng-container>

            <!-- Edit -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> Edit </th>
              <td mat-cell *matCellDef="let element; let i = index">
                @if (editingIndex === i) {
                  <button mat-icon-button class="saveEdit-button" (click)="saveEdit()">
                    <mat-icon>save</mat-icon>
                  </button>
                } @else {
                  <button mat-icon-button class="edit-button" (click)="editItems(i)">
                    <mat-icon>edit</mat-icon>
                  </button>
                }
              </td>
            </ng-container>

               <!-- Delete -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let element; let i = index">
               
                  <button mat-icon-button class="delete-button" (click)="deleteItems(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                
              </td>
            </ng-container>

            <!-- Table rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
        </section>
      </div>

     
    </div>
     <!-- Action buttons -->
      <div class="button-container">
        <button mat-flat-button class="save-button"> Save Shop </button>
        <button mat-flat-button class="print-button" (click)="downloadPDF()"> Print Shop </button>
        <button mat-flat-button class="reset-button" (click)="clearItems()"> Reset Shop </button>
      </div>
      <div class="print-tip">
        <p>**Printing to PDF hides the *Rarity and *Source columns</p>
      </div>
  </div>

  <!-- Add items section -->
<article class="search-content">
  <h2 class="add-items-div">Search and Add Items</h2>
  <app-item-table class="shop-table"></app-item-table>
</article>
</main>

