<app-navbar />

<body>
<div class="container">

    <div class="main-content">  
  <header>
    <h1>Adventurer's Item Shop</h1>
   
  </header>

  <section class="shop-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

       <!-- Qtdy -->
     <ng-container matColumnDef="qtdy">
  <th mat-header-cell *matHeaderCellDef> Qty </th>
  <td mat-cell *matCellDef="let element; let i = index">
    <ng-container *ngIf="editingIndex === i; else qtyView">
      <input type="number" min="1" [(ngModel)]="element.quantity" style="width: 60px;">
    </ng-container>
    <ng-template #qtyView>{{ element.quantity }}</ng-template>
  </td>
</ng-container>

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Type -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Type -->
      <ng-container matColumnDef="rarity">
        <th mat-header-cell *matHeaderCellDef> Rarity </th>
        <td mat-cell *matCellDef="let element"> {{element.rarity}} </td>
      </ng-container>

      <!-- Cost -->
      <ng-container matColumnDef="cost">
  <th mat-header-cell *matHeaderCellDef> Cost </th>
  <td mat-cell *matCellDef="let element; let i = index">
    <ng-container *ngIf="editingIndex === i; else costView">
      <input type="text" [(ngModel)]="element.cost" style="width: 80px;">
    </ng-container>
    <ng-template #costView>{{ element.cost }}</ng-template>
  </td>
</ng-container>

      <!-- Weight -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Source -->
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef> Source </th>
        <td mat-cell *matCellDef="let element"> {{element.source}} </td>
      </ng-container>

      
      <!-- Edit -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element; let i = index">
          @if (editingIndex === i) {
            <button mat-icon-button class="save-button" (click)="saveEdit()">
              <mat-icon>save</mat-icon>
            </button>
          } @else {
            <button mat-icon-button class="edit-button" (click)="editItems(i)">
              <mat-icon>edit</mat-icon>
            </button>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

  </section>
   <div class="button-container">
     <button matButton="filled" class="save-button" > Save Shop</button>
     <button matButton="filled" class="print-button"> Print Shop</button>
     <button matButton="filled" class="reset-button" (click)="clearItems()"> Reset Shop</button>
   </div>
   
  </div>

  </div>
 
  </body>
  
 <app-footer />
               
        
         



