.filter-container {
  padding: 5px 5px 5px 5px !important;
  max-width: 100%;
  max-height: 50vh !important;
  margin: auto;
  border: solid 1px black;
  overflow-y: auto; /* Add scrolling if content overflows vertically */
}

.source-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  gap: 8px;
}

.source-list li {
  flex: 1 1 150px; 
  max-width: 100px; /* limit how wide each checkbox can get */
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; 
  margin-bottom: 10px;

}


mat-chip {
  padding: 4px 0 4px 0 !important;
  height: 12px;
  font-size: 6px;
  display: inline-flex;
  align-items: center;
  
}

mat-chip mat-icon {
  font-size: 16px;
  margin-left: 2px;
  cursor: pointer;
  color: red;
}

mat-icon{
    color: #6a040f !important;
}

