  /* Reset and box sizing */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}


  .mat-mdc-card-outlined {
      
      border-width: 0;
      
  }

  .mat-mdc-card-header{
    
      justify-content: center;
  }
  .mat-mdc-card-actions {
      display: flex;
      background-color:#bbdefb;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      min-height: 52px;
      padding: 8px;
  }
  .mat-mdc-card-header {
      display: flex;
      background-color:#bbdefb;
      padding: 16px 16px 0;
  }

  .main-card{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
       }

  .left-panel {
    flex: 2;
    min-width: 300px;
    border: 2px solid black;
    padding: 10px;
  }

  .middle-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1.2;
    min-width: 250px;
  }

  .advanced-options,
  .item-search {
    border: 2px solid black;
    padding: 10px;
    flex: 1;
  }

  .right-panel {
    flex: 0.8;
    min-width: 150px;
    border: 2px solid black;
    padding: 10px;
  }
/* Main grows and shrinks to fill space between navbar and footer */


  /* Responsive behavior */
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }

    .middle-panel {
      flex-direction: column;
    }

    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  }

  /* Typography */
  h1 {
    font-size: 78px;
  }

  h2 {
    font-size: 48px;
  }
.table th{
 background-color: #6c757d;
 
}
.generated-container {
  
 
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  padding: 1rem;
  margin: 20px auto;
  background-color: #e9ecef;
  border: 1px solid #3d2b24;
  box-shadow: 0 0 15px #00000080;
   
}

.table tr:nth-child(odd){
 background-color: #adb5bd;
}

.table tr:nth-child(even){
 background-color: #ced4da;
}

.generated-header{
   display: flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid black !important; 
  border-right: 0;
  border-left: 0;

}

.add-items-div{
  display: flex;
  justify-content: center;
  border: 1px solid black !important; 
  margin-top: 2rem;
  border-right: 0;
  border-left: 0;
}

  /* Card styling */

  .card {
  
    font-weight: 400;
    width: 400px;
    max-width: 400px;
    
  }


  /* Side menu */
  .sidemenuitem {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  .sidemenuitem a {
    background-color: #9a9584;
    border: 1px solid #888475;
    padding: 10px 6px;
    text-decoration: none;
    display: flex;
    margin: 2px 0;
    justify-content: center;
    text-transform: uppercase;
  }

  .sidemenuitem a:hover {
    background-color: #a9a496;
  }

  

  .advanced-div {
    padding-top: 1rem;
  }

  /* Background container */
  .ng-container {
    background-color: #a82a2aff;
  }
  


 /* override Material styles in generated-form */
::ng-deep .reset-button {
  background-color: #9b2226 !important;
  color: white;

  padding: 8px 14px;
  
}

::ng-deep .generate-button{
  padding: 8px 14px;
}

::ng-deep .print-button {
  background-color: #0a9396 !important;
  color: white;
  padding: 8px 14px;
    margin: 12px;
}




.button-container{
  
  display: flex;
  align-items: center;
  justify-content: center
}



.edit-button {
    color: #0008ffff;
   
}

.save-button{
    color: #712135ff;
   }


   /********* PDF PARCHMENT ******/


.parchment-container {
  background-image: url('/assets/parchment-burned.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  font-family: 'MedievalSharp', cursive;
  color: #3b1e08; /* deep brown ink */
  border-radius: 12px;
}

.scroll-header {
  text-align: center;
  margin-bottom: 20px;
}

.scroll-header h1 {
  font-size: 38px;
  margin: 0;
}

.scroll-header p {
  font-size: 18px;
  margin: 0;
  font-style: italic;
}

table {
  width: 100%;
  background: rgba(255, 255, 255, 0.65);
  border-collapse: collapse;
  word-break: break-word;
}

th {
  background-color: rgba(210, 180, 140, 0.7);
  word-break: break-word;
}

td, th {
  border: 1px solid #273b08ff;
word-break: break-word;
  padding: 8px;
}

.pdf-button-container {
  text-align: right;
  margin-top: 15px;
}

.parchment-page {
  font-family: 'MedievalSharp', cursive;
  color: #3b2f1a; /* Dark brown ink look */
}

.print-tip p{
  display: flex;
   justify-content: center;
 font-size: 1.2rem;
}


